<%= simple_form_for [:admin, @approval_configuration] do |f| %>
    <%= f.input :approval_deadline_on, required: true %>
    <%= f.input :use_percentage, as: :radio_buttons,
                collection: [['Percentage of Approvals', true], ['Number of Rejections', false]],
                wrapper: :vertical_radio_and_checkboxes,
                label: 'Committee Approval Method'.html_safe %>
    <%= f.input :rejections_permitted, required: true, input_html: { type: "hidden" } %>
    <%= f.input :percentage_for_approval, required: true, input_html: { type: "hidden" } %>
    <%= f.input :email_admins, :as => :boolean, :label => false, :inline_label => true %>
    <%= f.input :email_authors, :as => :boolean, :label => false, :inline_label => true %>
    <div class="form-group actions col-xs-4">
      <%= f.button :submit, 'Update Approval Configuration', class: 'btn btn-success' %>
      <%= link_to "Cancel", admin_approval_configurations_path, class: 'admin btn cancel-link' %>
    </div>
<% end %>
