<%= render 'admin/submissions/edit/form_section_header', target: 'author-information' %>
<div id="author-information" class="form-section-body collapse show">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        <%= render partial: 'admin/shared/confidential_hold_information' if @view.author.confidential_hold? %>
        <%= @view.author_full_name.html_safe %><br />
        <%= @view.address.html_safe %>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>
        <div class="float-right"><strong>PSU Id: </strong><%= @view.author.psu_idn || 'N/A' %></div>
        <strong>Access Id: </strong><%= @view.author.access_id %><br />
        <strong>Phone:</strong> <%= @view.author_phone_number %> <br />
        <strong>Alternate email:</strong> <%= @view.author_alternate_email_address %><br />
        <strong>Penn State email:</strong> <%= @view.author_psu_email_address %><br />
      </p>
    </div>
    <div class="col-sm-12">
      <%= link_to edit_admin_author_path(@view.author), class: 'form-edit-link' do %>
        <span class="fa"></span> Edit Author Information
      <% end %>
    </div>
  </div>
</div>
