<div class="form-section-heading" data-toggle="collapse" data-target="#final-submission-information">Final Submission Information
  <span class="hide-show-indicator fa-rotate-90"></span>
</div>
<div id="final-submission-information" class="form-section-body collapse in">
  <%= render partial: @view.defense_date_partial_for_final_fields, locals: {f: f} if current_partner.graduate? %>
  <%= f.input :abstract, as: :text, label: 'Abstract<span class="required-astrisk">*</span>'.html_safe, input_html: { class: 'can-toggle-editability' } %>

  <div class="links cocoon-links">
    <label>Keywords<span class="required-asterisk">*</span></label>
    <%= link_to_add_association f, :keywords,
                                class: 'btn btn-default btn-sm',
                                data: {association_insertion_node: '#keyword-fields', association_insertion_method: 'append'},
                                form_name: 'keyword_fields',
                                partial: 'shared/keyword_fields' do %>
      <span class="glyphicon glyphicon-plus"></span>Additional Keyword
    <% end %>
  </div>

  <div id="keyword-fields">
    <%= f.simple_fields_for :keywords do |keyword| %>
      <%= render 'shared/keyword_fields', keyword_fields: keyword %>
    <% end %>
  </div>

  <%= f.input :access_level, as: :radio_buttons,
              collection: AccessLevel.paper_access_levels.map { |k| ["<strong> #{k[:label]} </strong> -- #{k[:description]} #{render partial: 'restricted_notes', locals: {f: f} if @view.psu_only(k[:label])}".html_safe, k[:type], { class: "#{k[:type]}" }] },
              wrapper: :vertical_radio_and_checkboxes,
              label: 'Access level<span class="required-astrisk">*</span>'.html_safe %>
 <%= render partial: 'admin_invention_disclosure_information', locals: {f: f} %>
  
  <div class="links cocoon-links">
    <label>Final Submission Files<span class="required-astrisk">*</span></label>
    <div id="final-submission-file-fields">
      <%= f.simple_fields_for :final_submission_files do |final_submission_file| %>
          <%= render 'file_fields', file_fields: final_submission_file %>
      <% end %>
    </div>
    <%= link_to_add_association f, :final_submission_files,
        class: 'btn btn-info btn-sm can-toggle-clickability',
        data: { association_insertion_node: '#final-submission-file-fields', association_insertion_method: 'append' },
        form_name: 'file_fields',
        partial: 'file_fields' do %>
      <span class="glyphicon glyphicon-plus"></span> Additional File
    <% end %>
  </div>

  <%= f.input :final_submission_notes, as: :text, label: "Final Submission Notes to Student".html_safe, input_html: { class: 'can-toggle-editability' } %>
</div>
