<div class="form-section-heading" data-toggle="collapse" data-target="#final-submission-information">Final Submission Information
  <span class="hide-show-indicator fa-rotate-90"></span>
</div>
<div id="final-submission-information" class="form-section-body collapse show">

  <%= render partial: 'admin/submissions/edit/release_date_history' %>

  <%= render partial: '/admin/submissions/edit/standard_defended_at_date', locals: {f: f} if current_partner.graduate? %>
  <%= f.input :abstract, as: :text, label: 'Abstract<span class="required-asterisk">*</span>'.html_safe, input_html: { class: 'can-toggle-editability', rows: 10 } %>
  <%= render partial: 'admin/submissions/abstract_help_text'  if current_partner.graduate? %>

  <div class="links cocoon-links">
    <label><strong>Keywords<span class="required">*</span></strong></label>
    <%= link_to_add_association f, :keywords,
                                class: 'btn btn-light btn-sm',
                                data: {association_insertion_node: '#keyword-fields', association_insertion_method: 'append'},
                                form_name: 'keyword_fields',
                                partial: 'shared/keyword_fields' do %>
      <span class="fa fa-plus"></span>Additional Keyword
    <% end %>
  </div>

  <div id="keyword-fields">
    <%= f.simple_fields_for :keywords do |keyword| %>
      <%= render 'shared/keyword_fields', keyword_fields: keyword %>
    <% end %>
  </div>
  <br>
 <% access_level_collection = AccessLevel.display.filter_map do |k|
        next if k[:type] == 'restricted_liberal_arts' && @submission.academic_program != 'LA' && !current_partner.graduate?

        ["<strong>#{k[:label]}</strong> -- #{k[:description]}".html_safe, k[:type], { class: "#{k[:type]}" }]
      end %>
    <%= f.input :access_level, as: :radio_buttons,
                label: '<strong>Access level<span class="required-asterisk">*</span></strong>'.html_safe,
                required: true,
                collection: access_level_collection,
                wrapper: :vertical_radio_and_checkboxes %>
 <%= render partial: 'admin_invention_disclosure_information', locals: {f: f} %>

  <div class="links cocoon-links">
    <label><strong>Final Submission Files<span class="required-asterisk">*</span></strong></label>
    <div id="final-submission-file-fields">
      <%= f.simple_fields_for :final_submission_files do |final_submission_file| %>
          <% if final_submission_file.object.created_at %>
            <%= render 'admin/submissions/file_fields', file_fields: final_submission_file %>
          <% end %>
      <% end %>
    </div>
    <%= link_to_add_association f, :final_submission_files,
        class: 'btn btn-info btn-sm can-toggle-clickability',
        data: { association_insertion_node: '#final-submission-file-fields', association_insertion_method: 'append' },
        form_name: 'file_fields',
        partial: 'file_fields' do %>
      <span class="fa fa-plus"></span> Additional File
    <% end %>
  </div>
  <% if current_partner.graduate? %>
    <%= render partial: '/admin/submissions/edit/federal_funding_language_admin', locals: {f: f} %>
  <% else %>
    <%= render partial: '/shared/federal_funding_checkbox', locals: {f: f} %>
  <% end %>
  <%= render 'shared/copyright_statement' %>
  <%= f.input :has_agreed_to_terms, label: 'I agree to copyright statement', as: :boolean, wrapper: :vertical_boolean, required: true %>
  <% if current_partner.graduate? && f.object.degree_type.slug == 'dissertation' %>
    <%= render 'shared/proquest_agreement' %>
    <%= f.input :proquest_agreement, label: 'I agree to ProQuest statement', as: :boolean, wrapper: :vertical_boolean, required: true %>
  <% end %>
  <%= render partial: 'shared/final_submission_confidential_hold_checkbox', locals: {f: f} if @submission.author.confidential? %>

  <%= f.input :final_submission_notes, as: :text, label: "Final Submission Notes to Student", input_html: { class: 'can-toggle-editability' } %>
  <%= render partial: 'admin/submissions/edit/admin_feedback_files', locals: {f: f, feedback_type: 'final-submission'} %>
</div>
