<%= render 'admin/submissions/edit/form_section_header', target: 'format-review-files' %>
<div id="format-review-files" class="form-section-body collapse in">
  <div class="links cocoon-links">
    <label>Files<span class="required-asterisk">*</span></label>
    <div id="format-review-file-fields">
      <%= f.simple_fields_for :format_review_files do |format_review_file| %>
          <%= render 'admin/submissions/file_fields', file_fields: format_review_file %>
      <% end %>
    </div>
    <%= link_to_add_association f, :format_review_files,
                                class: 'btn btn-info btn-sm can-toggle-clickability',
                                      data: { association_insertion_node: '#format-review-file-fields', association_insertion_method: 'append' },
                                      form_name: 'file_fields',
                                      partial: 'file_fields' do %>
      <span class="glyphicon glyphicon-plus"></span> Additional File
    <% end %>
  </div>

  <%= f.input :format_review_notes, as: :text, label: "Format Review Notes to Student".html_safe, input_html: { class: 'can-toggle-editability' } %>
</div>

