<%= render 'admin/submissions/edit/form_section_header', target: 'format-review-files' %>
<div id="format-review-files" <%= @view.form_section_body('format-review-files') %>>
  <div class="links cocoon-links">
    <label>Format Review Files<span class="required-asterisk">*</span></label>
    <div id="format-review-file-fields">
      <%= f.simple_fields_for :format_review_files do |format_review_file| %>
        <% unless format_review_file.object.is_admin? %>
          <%= render 'admin/submissions/file_fields', file_fields: format_review_file %>
        <% end %>
      <% end %>
    </div>
    <%= link_to_add_association f, :format_review_files,
                                class: 'btn btn-info btn-sm can-toggle-clickability',
                                      data: { association_insertion_node: '#format-review-file-fields', association_insertion_method: 'append' },
                                      form_name: 'file_fields',
                                      partial: 'file_fields' do %>
      <span class="fa fa-plus"></span> Additional File
    <% end %>
  </div>

  <%= render partial: '/shared/federal_funding_checkbox', locals: {f: f} unless @submission.status_behavior.beyond_waiting_for_format_review_response? %>
  <%= f.input :format_review_notes, as: :text, label: "Format Review Notes to Student".html_safe, input_html: { class: 'can-toggle-editability' } %>
</div>
