<%= render 'admin/submissions/edit/form_section_header', target: 'program-information' %>
<div id='program-information' <%= @view.form_section_body('program-information') %>>
  <%= f.input :degree_id, as: :hidden, required: true %>
  <%= f.input :program_id, as: :hidden, required: true %>
  <%= f.input :semester, as: :hidden, required: true %>
  <%= f.input :year, as: :hidden, required: true %>
  <%= f.input :defended_at, as: :string, label: false, input_html: {class: 'hidden', value: @submission.defended_at} %>

<%#= f.input :lion_path_degree_code, required: true, label: 'Academic Plan', collection: @view.degrees_display_collection, prompt: 'Please select your Academic Plan' %>
    <%#= f.input :lion_path_degree_code,required: true, as: :hidden, input_html: {value: @submission.lion_path_degree_code} %>
  <div class="program-information-admin">
    <%= f.input :lion_path_degree_code, collection: @submission.author.inbound_lion_path_record.academic_plan.degrees_display_collection, label: 'Academic Plan', prompt: 'Please select your Academic Plan', class: '.admin-program-information', input_html: {value: @submission.lion_path_degree_code} %>
  </div>
  <div id="plan_information">
    <script type="text/javascript">
        <%#var plan = <%= @author.inbound_lion_path_record.academic_plan.plan_information_collection.inspect.html_safe %>
        var plan = jQuery.parseJSON(<%=raw @submission.author.inbound_lion_path_record.academic_plan.plan_information_collection.to_json.inspect %>);
    </script>
  </div>

  <ul class='list-unstyled'>
    <li><label>Degree</label>  <span class='degree'><%= @submission.degree.name %></span></li>
    <li><label>Program</label> <span class='program'><%= @submission.program.name %></span></li>
    <li><label>Graduation Semester</label>  <span class='semester'><%= @submission.semester %></span></li>
    <li><label>Graduation Year </label>  <span class='year'><%= @submission.year %></span></li>
    <li><label>Date Defended </label>  <span class='defended'><%= @submission.defended_at.present? ? @submission.defended_at.strftime(LionPath::LpFormats::DEFENSE_DATE_FORMAT) : 'Unknown' %></span></li>
  </ul>
    <%= render 'admin/submissions/edit/lionpath_refresh_academic_plan_link' if @submission.using_lionpath? %>
    <br />
    <br />
</div>
