<% disabled_bool = (current_partner.graduate? && f.object.lionpath_updated_at.present? &&
    !f.object.status_behavior.beyond_waiting_for_final_submission_response_rejected?) %>

<%= render 'admin/submissions/edit/form_section_header', target: 'program-information' %>

<div id="program-information" <%= @view.form_section_body('program-information') %>>
  <%= f.input :program_id, label: "#{current_partner.program_label}",
              collection: Program.all.order('name ASC'), prompt: "Please Select",
              disabled: disabled_bool, input_html: { class: 'can-toggle-selectability' } %>

  <%= f.input :degree_id, label: 'Degree',
              collection: Degree.all, prompt: "Please Select",
              disabled: disabled_bool, input_html: { class: 'can-toggle-selectability' } %>

  <%= render partial: 'admin/submissions/edit/semester_year_form', locals: {f: f, disabled_bool: disabled_bool} %>
</div>
