<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1> Acknowledgement Page</h1>
    <%= simple_form_for :submission do |f| %>
      <div class="form-group actions col-xs-6">
        <%= f.label :name, 'I have read the thesis/dissertation handbook and understand how to format my thesis/dissertation to align with Graduate School Policy,' %>
        <%= f.input :name, label: 'Initials', input_html: { value: nil } %>
        <%= f.hidden_field :acknowledgment_page_viewed_at, value: Date.today %> 
        <%= f.button :submit, class: "btn-primary", value: "Submit" %>
        <%= link_to "Cancel", author_root_path, class: 'btn btn-light' %>
      </div>
    <% end %>
  </div>
</div>