<div tabindex="0">
    <br>
    <strong>Federal Funding Statement</strong>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_1").html_safe %></p>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2").html_safe %></p>
    <ol>
        <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2_1").html_safe %></li>
        <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2_2").html_safe %></li>
    </ol>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_3").html_safe %></p>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4").html_safe %></p>
    <ol>
        <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_1").html_safe %></li>
        <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_2").html_safe %></li>
        <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_3").html_safe %></li>
    </ol>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_5").html_safe %></p>
    <p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_6").html_safe %></p>
    <%= simple_fields_for :federal_funding do |g| %>
        <%= g.label :test_1, I18n.t("#{current_partner.id}.federal_funding_author.question_1").html_safe %>
        <%= g.label :test_1, 'Yes'%>
        <%= g.radio_button :test_1, true %><br>
        <div class="ml-3">
            <p><%= I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe%></p>
            <%= g.label :test_1_1, 'Yes'%>
            <%= g.radio_button :test_1_1, true %><br>
            <%= g.label :test_1, 'No'%>
            <%= g.radio_button :test_1_1, false %>
            <p><%= I18n.t("#{current_partner.id}.federal_funding_author.error_message").html_safe%></p>
        </div>
        <%= g.label :test_1, 'No'%>
        <%= g.radio_button :test_1, false %>

        <%= g.label :test_2, I18n.t("#{current_partner.id}.federal_funding_author.question_2").html_safe %>
        <%= g.label :test_2, 'Yes'%>
        <%= g.radio_button :test_2, true %><br>
        <div class="ml-3">
            <p><%= I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe %></p>
            <%= g.label :test_2_1, 'Yes'%>
            <%= g.radio_button :test_2_1, true %><br>
            <%= g.label :test_2_1, 'No'%>
            <%= g.radio_button :test_2_1, false %>
        </div>
        <%= g.label :test_1, 'No'%>
        <%= g.radio_button :test_2, false %>
    <% end %>
    </div>
    