<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_1").html_safe %></p>
<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2").html_safe %></p>
<ol>
    <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2_1").html_safe %></li>
    <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_2_2").html_safe %></li>
</ol>
<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_3").html_safe %></p>
<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4").html_safe %></p>
<ol>
    <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_1").html_safe %></li>
    <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_2").html_safe %></li>
    <li><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_4_3").html_safe %></li>
</ol>
<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_5").html_safe %></p>
<p><%= I18n.t("#{current_partner.id}.federal_funding_author.intro_6").html_safe %></p>