<div id="invention" class="<%= @view.disclosure_class %>">
  <div class="form-group text">

    <br />
    <%= f.simple_fields_for :invention_disclosures, @submission.invention_disclosure do |disclosure| %>
        <p><%= InventionDisclosure.description %></p>
        <div class="inventions <%= @submission.errors[:invention_disclosure].any? ? 'has-error' : '' %>" >
          <%= disclosure.input :id_number, include_blank: true, label: 'Invention Disclosure Number (Required for Restricted Access)' %>
          <%= disclosure.hidden_field :submission_id, include_blank: false %>
          <%= disclosure.hidden_field :id, label: false %>
          <span class="help-block">
                <%= @submission.errors[:invention_disclosure].any? ? 'Invention disclosure' : ''%><%= @submission.errors[:invention_disclosure][0] %>
            </span>
        </div>
    <% end %>
  </div>
</div>
