<% lionpath_import = f.object.lionpath_updated_at.present? %>
<% if lionpath_import %>
<br>
<div class="col-sm-12">
  <div class="alert alert-info">
    <strong class="hint">
      <span class="text-info"><strong>Notice:</strong></span> Program and degree information is imported from LionPATH.
      Please review and contact your program office with any discrepancies.
    </strong>
  </div>
</div>
<% end %>
<div class="row col-sm-12">
  <%= f.input :program_id, label: "#{current_partner.program_label}",
              collection: Program.where(is_active: true).order('name ASC'),
              prompt: "Please Select a  #{current_partner.program_label}",
              required: true, disabled: lionpath_import %>
</div>
<div class="row col-sm-12">
  <div id="degree">
    <%= f.input :degree_id, label: 'Degree',
                collection: Degree.where(is_active: true).order('description ASC').map{|d| [d.description, d.id]},
                required: true, prompt: "Please Select a Degree", disabled: lionpath_import %>
  </div>
</div>
<% if current_partner.graduate? || current_partner.honors? %>
  <div class="row col-sm-12">
    <%= f.input :semester, label: 'Semester Intending to Graduate',
                hint: "#{I18n.t("#{current_partner.id}.partner.semester_hint")}",
                collection: Semester::SEMESTERS, prompt: "Please Select",
                required: true %>
  </div>
<% else %>
  <div class="row col-sm-12">
    <%= f.input :semester, label: 'Semester Intending to Graduate',
                collection: Semester::SEMESTERS, prompt: "Please Select",
                required: true %>
  </div>
<% end %>

<div class="row col-sm-12">
  <%= f.input :year, label: 'Graduation Year',
              collection: Semester.graduation_years, prompt: "Please Select",
              required: true %>
</div>
