<div class="row">
  <div class="col-xs-12">
    <h2>My Submissions</h2>
  </div>
</div>
<div>

  <p>Existing thesis <%= 'submission'.pluralize(@view.submissions.count) %> found.  The status of your previously submitted <%= 'document'.pluralize(@view.submissions.count) %> is listed below.</p>

  <%= render 'new_submission_button' %>

</div>

<div id="submissions" class="row">
  <% @view.submissions.each do |submission| %>
    <% @submission_view = Author::SubmissionView.new submission %>

    <div id="submission-<%= submission.id %>" class="col-xs-12 submission">
      <div class="heading">
        <h3><%= submission.title %></h3>

        <%= @submission_view.formatted_program_information %>
        <%= @submission_view.delete_link %>
      </div>

      <%= render 'progress_indicator', submission: submission %>

    </div>
  <% end %>


</div>
