<div class="row">
  <div class="col-xs-12">
    <h2>My Submissions</h2>
    <div class="row">
      <%= render partial: 'admin_submission_buttons' if admin? && current_partner.graduate? %>
    </div>
  </div>
</div>
<div>
  <br>
  <p class="hint">Existing <%= 'submission'.pluralize(@view.submissions.count) %> found.  The status of your previously submitted <%= 'document'.pluralize(@view.submissions.count) %> is listed below:</p>
</div>

<div id="submissions" class="row">
  <% @view.submissions.each do |submission| %>
    <% @submission_view = Author::SubmissionView.new submission %>

    <div id="submission-<%= submission.id %>" class="col-sm-8 submission">
      <div class="heading">
        <h3><%= submission.title %></h3>

        <%= @submission_view.formatted_program_information %>
        <%= @submission_view.delete_link unless (current_partner.graduate? && !admin?) %>
      </div>

      <%= render 'progress_indicator', submission: submission %>

    </div>
  <% end %>

  <%= render 'new_submission_button' unless current_partner.graduate? %>
</div>
