<div class="row">
    <div class="col-xs-12">
      <%= simple_form_for @ack, url: author_submission_acknowledge_update_path, method: :patch do |form| %>  
        <div class="form-group actions col-xs-6">          
          <%= form.label :sig_1, I18n.t("graduate.submission.acknowledge.point1", degree_type: @degree_type) %>
          <%= form.input :sig_1, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_2, I18n.t("graduate.submission.acknowledge.point2", degree_type: @degree_type.capitalize)  %>
          <%= form.input :sig_2, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_3, I18n.t("graduate.submission.acknowledge.point3", degree_type: @degree_type) %>
          <%= form.input :sig_3, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_4, I18n.t("graduate.submission.acknowledge.point4")  %>
          <%= form.input :sig_4, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_5, I18n.t("graduate.submission.acknowledge.point5", degree_type: @degree_type)  %>
          <%= form.input :sig_5, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_5, I18n.t("graduate.submission.acknowledge.point6")  %>
          <%= form.input :sig_6, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.label :sig_7, I18n.t("graduate.submission.acknowledge.point7") %>
          <%= form.input :sig_7, label: false, placeholder: I18n.t("graduate.submission.acknowledge.initial") %>
          <%= form.button :submit, class: "btn-primary", value: "Submit", disabled: @is_good %>
          <%= link_to "Cancel", author_root_path, class: 'btn btn-light' %>
        </div>
      <% end %>
    </div>
  </div>