<h1>My Committee</h1>
<br />
<table id="committee_member_table" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Status</th>
    <th>Notes</th>
    <% if @submission.status_behavior.waiting_for_committee_review? || @submission.status_behavior.waiting_for_head_of_program_review? %>
      <th>Action</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @submission.committee_members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.committee_role.name %></td>
      <td><%= member.status ? member.status.capitalize : nil %></td>
      <td><%= member.notes %></td>
      <% if (@submission.status_behavior.waiting_for_committee_review? && member.committee_role.name != 'Program Head/Chair')  || (@submission.status_behavior.waiting_for_head_of_program_review? && member.committee_role.name == 'Program Head/Chair') %>
        <td><%= button_to 'Send Email Reminder', { controller: author_submissions_path, action: "send_email_reminder", committee_member_id: member.id }, method: :post %></td>
      <% else %>
        <td/>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<strong>
  <%= link_to 'Return to dashboard', author_root_path %>
</strong>
