<h1>My Committee</h1>
<br />
<table id="committee_member_table" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @submission.committee_members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.status %></td>
      <td><%= member.notes %></td>
      <td><%= button_to 'Send Email Reminder', { controller: author_submissions_path, action: "send_email_reminder", committee_member_id: member.id }, method: :post, disabled: @submission.status_behavior.beyond_waiting_for_final_submission_response? %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<strong>
  <%= link_to 'Return to dashboard', author_root_path %>
</strong>
