 <div class="row">
  <div class="col-xs-12">
    <h1>Upload Final Submission Files</h1>
  </div>
</div>
<div class="col-xs-12">

<%= render partial: 'shared/error_messages', locals: { object: @submission } %>

<%= render partial: 'confirm_dialog' %>

<% if current_partner.graduate? %>
  <br>
  <div class="alert alert-info">
    <strong class="hint">
      <span class="text-info">
        <strong>Notice:</strong>
      </span> All committee members must review your <%= @submission.degree_type.to_s.downcase %> before uploading your
      final submission. Any changes should be made before uploading as well.  Changes cannot be made after submission.
    </strong>
  </div>
<% end %>

<%= simple_form_for [:author, @submission], url: author_submission_update_final_submission_path do |f| %>
      <% if @submission.final_submission_notes.present? %>
        <div id="final-submission-notes" class="col-sm-12">
          <div class="col-xs-12">
            <label>Final Submission notes from the administrator</label>
            <div class="alert alert-<%= @submission.status_behavior.beyond_waiting_for_final_submission_response? ? 'info' : 'warning' %>">
              <p><%= @submission.final_submission_notes %></p>
            </div>
          </div>
        </div>
      <% end %>

      <% if @submission.final_submission_feedback_files? %>
      <div id="admin-feedback-files" class="col-sm-12">
        <% @submission.admin_feedback_files.each do |file| %>
        <% if file.feedback_type == 'final-submission' %>
          <div id="admin-feedback-file-<%= file.id %>" class="pl-2 pb-2">
            <%= link_to file.asset_identifier, "/author/files/#{file.link_identifier}/#{file.id}",  class: 'file-link', target: '_blank' %>
          </div>
        <% end %>
      <% end %>
  <% end %>

      <%= render partial: 'title_and_checkbox', locals: {f: f} %>
      <%= render partial: 'semester_year', locals: {f: f} %>
      <%= render partial: 'defended_at_date', locals: {f: f} if current_partner.graduate? %>
      <br>

      <%= f.input :abstract, as: :text, required: true, label: '<strong>Abstract</strong>'.html_safe, input_html: {rows: 6} %>
      <%= render partial: 'admin/submissions/abstract_help_text'  if current_partner.graduate? %>

      <%= f.input :delimited_keywords, as: :string, label: '<strong>Keywords</strong>'.html_safe, wrapper: :hint_top, hint: Keyword.hint, required: true, input_html: { class: 'tagit' } %>
      <br>

      <%= render partial: @view.author_access_level_view, locals: {f: f} %>
      <br>

      <div id="final-submission-file-fields">
        <%= render partial: 'author/submissions/final_submission_file_label' %>
        <%= f.simple_fields_for :final_submission_files do |final_submission_file| %>
            <%= render 'file_fields', file_fields: final_submission_file %>
        <% end %>
      </div>

      <div class="links cocoon-links">

        <%= link_to_add_association f, :final_submission_files,
                                       class: 'btn btn-info btn-sm',
                                       data: { association_insertion_node: '#final-submission-file-fields', association_insertion_method: 'append' },
                                       form_name: 'file_fields',
                                       partial: 'file_fields' do %>
          <span class="fa fa-plus" aria-hidden="true"></span>  Add Additional File
        <% end %>
      </div>

      <% if current_partner.graduate? %>
        <%= render partial: '/author/submissions/federal_funding_language_author', locals: {f: f} %>
        <% else %>
        <%= render partial: '/shared/federal_funding_checkbox', locals: {f: f} %>
      <% end %>

      <%= render 'shared/copyright_statement' %>
      <%= f.input :has_agreed_to_terms, label: 'I agree to copyright statement', as: :boolean, wrapper: :vertical_boolean, required: true %>

      <% if current_partner.graduate? && f.object.degree_type.slug == 'dissertation' %>
        <%= render 'shared/proquest_agreement' %>
        <%= f.input :proquest_agreement, label: 'I agree to ProQuest statement', as: :boolean, wrapper: :vertical_boolean, required: true %>
      <% end %>

    <%= render partial: 'shared/final_submission_confidential_hold_checkbox', locals: {f: f} if @submission.author.confidential? %>
      <%#= render 'shared/release_statement' %>
      <%#= f.input :has_agreed_to_publication_release, label: 'I agree to release agreement', as: :boolean, wrapper: :vertical_boolean, required: true %>
      <div class="form-group actions col-xs-6">
        <%= f.button :submit, class: "btn-success", value: "Submit final files for review" %>
        <%= link_to "Cancel", author_root_path, class: 'btn btn-light' %>
      </div>
  <% end %>
</div>
