<div class="row">
  <div class="col-xs-12 col-sm-9">
    <% if current_partner.graduate? %>
      <h1>Update <%= @submission.degree_type.to_s %> Title</h1>
    <% else %>
      <h1>Update Program Information</h1>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for [:author, @submission], html: {class: 'plan-information'} do |form| %>

      <%= render partial: "form_fields", locals: { form: form, program_information_partial: 'standard_program_information' } %>

      <div class="form-group actions col-xs-6">
        <%= form.button :submit, class: "btn-primary", value: "Update #{@submission.degree_type.to_s} Title" if current_partner.graduate? %>
        <%= form.button :submit, class: "btn-primary", value: "Update Program Information" unless current_partner.graduate? %>
        <%= link_to "Cancel", author_root_path, class: 'btn cancel-link' %>
      </div>
    <% end %>
  </div>
</div>
