<%= simple_form_for [:admin, @program] do |f| %>
  <%= f.input :name %>
  <%= f.input :is_active, wrapper: :checkbox %>
  <div class="form-group actions">
    <%= f.button :submit, "#{this_action} #{current_partner.program_label}" %>
    <%= link_to "Cancel", admin_programs_path %>
  </div>
<% end %>
