<%= simple_form_for [:admin, @program] do |f| %>
  <%= f.input :name if this_action == 'Create' %>
  <%= f.input :is_active, as: :radio_buttons, label: 'Is active?', wrapper: :vertical_radio_and_checkboxes %>
  <div class="form-group actions col-xs-4">
    <%= f.button :submit, "#{this_action} #{current_partner.program_label}", { class: 'btn-primary' } %>
    <%= link_to "Cancel", admin_programs_path, class: 'btn admin cancel-link' %>
  </div>
<% end %>