<%= simple_form_for [:admin, @degree] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :degree_type_id,
              collection: DegreeType.all,
              label_method: :name,
              value_method: :id,
              prompt: "Please Select" %>
  <%= f.input :is_active, wrapper: :checkbox %>
  <div class="form-group actions col-xs-4">
    <%= f.button :submit %>
    <%= link_to "Cancel", admin_degrees_path, class: 'admin btn cancel-link' %>
  </div>
<% end %>