<div tabindex="0">
    <%= simple_fields_for @federal_funding_details do |f| %>
        <%= f.label :training_support_funding, I18n.t("#{current_partner.id}.federal_funding_author.question_1").html_safe %>
        <%= f.label :training_support_funding, 'Yes'%>
        <%= f.radio_button :training_support_funding, true %><br>

        <div id="fed_funding_confirmation_author_1" class="ml-5 collapse hide">
            <p><%= I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe%></p>
            <%= f.label :training_support_acknowledged, 'Yes'%>
            <%= f.radio_button :training_support_acknowledged, true %><br>
            <%= f.label :training_support_acknowledged, 'No'%>
            <%= f.radio_button :training_support_acknowledged, false %>
            <p id="fed_funding_error_message_author_1" class="collapse hide"><%= I18n.t("#{current_partner.id}.federal_funding_author.error_message").html_safe%></p>
        </div>
        
        <%= f.label :training_support_funding, 'No'%>
        <%= f.radio_button :training_support_funding, false %>
        <br>
        <%= f.label :other_funding, I18n.t("#{current_partner.id}.federal_funding_author.question_2").html_safe %><br>
        <%= f.label :other_funding, 'Yes'%>
        <%= f.radio_button :other_funding, true %><br>
        <div id="fed_funding_confirmation_author_2" class="ml-5 collapse hide">
            <p><%= I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe %></p>
            <%= f.label :other_funding_acknowledged, 'Yes'%>
            <%= f.radio_button :other_funding_acknowledged, true %><br>
            <%= f.label :other_funding_acknowledged, 'No'%>
            <%= f.radio_button :other_funding_acknowledged, false %>
            <p id="fed_funding_error_message_author_2" class="collapse hide"><%= I18n.t("#{current_partner.id}.federal_funding_author.error_message").html_safe%></p>
        </div>

    <%= f.label :other_funding, 'No'%>
    <%= f.radio_button :other_funding, false %>
        
    <% end %>
</div>
    