<%= f.simple_fields_for :federal_funding_details, @submission.federal_funding_details do |g| %>
  <%= g.input :training_support_funding,
        as: :radio_buttons,
        collection: [
          ['Yes', true],
          ['No', false]
        ],
        wrapper: :vertical_radio_and_checkboxes,
        label: I18n.t("#{current_partner.id}.federal_funding_author.question_1").html_safe
  %>
  <div id="fed_funding_confirmation_author_1" class="ml-5 collapse hide">
      <div class="alert alert-info">
      <%= g.input :training_support_acknowledged,
        as: :radio_buttons,
        collection: [
          ['Yes', true],
          ['No', false]
        ],
        wrapper: :vertical_radio_and_checkboxes,
        label: I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe
      %>
      </div>
      <p id="fed_funding_error_message_author_1" class="collapse hide alert alert-danger" aria-hidden="true"><%= I18n.t("#{current_partner.id}.federal_funding_author.error_message").html_safe %></p>
  </div>

  <%= g.input :other_funding,
    as: :radio_buttons,
    collection: [
      ['Yes', true],
      ['No', false]
    ],
    wrapper: :vertical_radio_and_checkboxes,
    label: I18n.t("#{current_partner.id}.federal_funding_author.question_2").html_safe
  %>
  <div id="fed_funding_confirmation_author_2" class="ml-5 collapse hide">
      <div class="alert alert-info">
      <%= g.input :other_funding_acknowledged,
        as: :radio_buttons,
        collection: [
          ['Yes', true],
          ['No', false]
        ],
        wrapper: :vertical_radio_and_checkboxes,
        label: I18n.t("#{current_partner.id}.federal_funding_author.confirmation").html_safe
      %>
      </div>
      <p id="fed_funding_error_message_author_2" class="collapse hide alert alert-danger" aria-hidden="true"><%= I18n.t("#{current_partner.id}.federal_funding_author.error_message").html_safe %></p>
  </div>
<% end %>