<header class="<%= page_classes %>" >
  <div class="container-fluid">
    <div id="shield-and-logo" class="row">
      <div class="col-sm-1">
        <a id="psu-shield" href="http://libraries.psu.edu/">
          <%= image_tag("#{asset_pack_path 'static/PS_UL_REV_RGB_2C.png'}", alt: "PSU Libraries logo", width: '120', height: '55' ) %>
        </a>
      </div>
      <div id="logo-old" class="col-sm-8">
        <a href="/">
          <%= I18n.t("#{current_partner.id}.header.title") %>
        </a>
      </div>
    </div>
  </div>
  <%= render partial: '/matomo_analytics' if ENV.fetch('HOSTNAME', 'dev').match(/^etda-wf-/).present? %>
  <%= render partial: 'shared/nav_bar' %>
</header>
