<header class="<%= page_classes %>" >
  <div id="shield-and-logo">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a id="psu-shield" href="http://libraries.psu.edu/">
            <%= image_tag("#{asset_pack_path 'media/images/PS_UL_REV_RGB_2C.png'}", alt: "PSU Libraries logo", width: '200', height: '90' ) %>
          </a>
        </div>
        <div class="col-sm-8">
        <span id="logo-old">
          <a href="/"><%= image_tag("#{asset_pack_path "media/images/#{header_image}"}", alt: I18n.t("#{current_partner.id}.header.title").to_s, width: '475', height: '100' ) %></a>
        </span>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: '/matomo_analytics' if ENV['HOSTNAME'] == 'etdaworkflow1prod' %>
  <%= render partial: 'shared/nav_bar' %>
</header>
