<footer>
  <div id="courtesy-navigation" class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-14">
          <ul class="nav navbar-nav">
            <li><%= link_to 'The University Libraries', 'https://libraries.psu.edu/about/departments/digital-scholarship-and-repository-development', class: 'small', target: '_blank' %> <span class="sr-only">link opens in a new tab</span></li>
            <li><%= link_to t("#{current_partner.id}.partner.name"), t("#{current_partner.id}.partner.url"), class: 'small', target: '_blank' %> <span class="sr-only">link opens in a new tab</span></li>
            <li><%= link_to "© #{Time.now.year} The Pennsylvania State University", 'http://www.psu.edu/ur/copyright.html', class: 'small', target: '_blank' %> <span class="sr-only">link opens in a new tab</span></li>
            <li><%= link_to 'Privacy and Legal Statements', 'http://www.psu.edu/ur/legal.html', class: 'small', target: '_blank' %> <span class="sr-only">link opens in a new tab</span></li>
            <li><%= link_to 'Accessibility', 'http://accessibility.psu.edu', class: 'small', target: '_blank' %> <span class="sr-only">link opens in a new tab</span></li>
            <%= render_conditional_links %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>