<div class="row">
  <div class="col-xs-6 col-sm-12">
    <nav id="main-navigation" class="">
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= author_nav_active?('submissions') %>">
          <%= link_to 'Submissions', author_root_path %>
        </li>
        <li class="<%= author_nav_active?('author') %>">
          <%= link_to 'Update My Contact Information', edit_author_author_path(@author) %>
        </li>
        <li class="<%= author_nav_active?('tips') %> ">
          <%= link_to 'Technical Tips', :author_technical_tips %>
        </li>
        <li class="<%= author_nav_active?('published') %>">
          <%= link_to 'My Published Submissions', author_published_submissions_index_path %>
        </li>
      </ul>
    </nav>
  </div>
</div>