<div class="row">
  <div class="col-xs-6 col-sm-12">
    <nav id="main-navigation" class="">
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= 'active' if controller_name == 'submissions' %>">
          <%= link_to 'Submissions', author_root_path %>
        </li>
        <li class="<%= 'active' if action_name == 'edit' %> ">
          <%= link_to 'Update My Contact Information', edit_author_author_path(@author) %></li>
        <li class="<%= 'active' if action_name == 'technical_tips' %> ">
          <%= link_to 'Technical Tips', :author_technical_tips %>
        </li>
      </ul>
    </nav>
  </div>
</div>