<div>
  <%= simple_form_for @committee_member, url: approver_update_committee_member_path() do |f| %>
    <fieldset <%= @review_complete ? 'disabled' : ''%> >
      <strong>Files I need to review:</strong>
      <div id="file_links">
        <%=raw @most_relevant_file_links %></div>
      </br>
      <p>I accept and approve <%= @author.full_name %>'s <%= @submission.degree.degree_type.name.to_s.downcase %> and agree to distribution as indicated by the access level.</p>
      <%= f.input :status, as: :radio_buttons,
                  collection: [['Yes, I accept and approve.', 'approved'], ['No, I do not accept and approve.', 'rejected']],
                  wrapper: :vertical_radio_and_checkboxes,
                  label: false %>
      <%= f.input :notes, :label => "Notes for Student (required only if rejecting)", :input_html => { :class => 'notes_select' } %>
      <% if current_partner.graduate? && @committee_member.committee_role.name.include?("Advisor") %>
        <%= f.input :federal_funding_used, as: :radio_buttons,
                    :required => true,
                    collection: [["I confirm that, as required by federal guidelines, all federal funds used for the work
                                   described in this #{@submission.degree.degree_type.name.to_s.downcase} have been explicitly acknowledged in the document,
                                   along with a disclaimer indicating that the findings and conclusions do not necessarily
                                   reflect the view of the funding agency.", true],
                                 ["I confirm that no federal funds were used for the work described in this #{@submission.degree.degree_type.name.to_s.downcase}. ", false]],
                    wrapper: :vertical_radio_and_checkboxes,
                    label: 'Were Federal Funds utilized for this submission?'.html_safe %>
      <% end %>
      <div class="form-group actions col-xs-4">
        <%= f.button :submit, "Submit Review" %>
        <% if @review_complete %>
          <%= render 'review_message' %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
