<div>
  <%= simple_form_for @committee_member, url: approver_update_committee_member_path() do |f| %>
    <fieldset <%= @review_complete ? 'disabled' : '' %>>
      <strong><%= I18n.t("#{current_partner.id}.approver.review_form.file_list_heading")%></strong>
      <div id="file_links">
        <%= raw @most_relevant_file_links %>
      </div>
      <br>
       <% if current_partner.graduate? && @committee_member == @submission.advisor %>
        <%= f.label :federal_funding_used, 'Were Federal Funds utilized for this submission?'.html_safe %>
        <div class="alert alert-info">
          <strong class="hint"><strong>Notice:</strong> The author of this submission has indicated that federal funding <u><strong>was<%= @submission.federal_funding ? nil : ' not' %></strong></u> used.</strong>
        </div>
        <% if current_partner.graduate? %>
          <%= render partial: 'federal_funding_language_approver', locals: {f:f} %>
        <% else %>
          <%= f.input :federal_funding_used, as: :radio_buttons,
                      :required => true,
                      collection: [["I confirm that, as required by federal guidelines, all federal funds used for the work
                                    described in this #{@submission.degree.degree_type.name.to_s.downcase} have been explicitly acknowledged in the document,
                                    along with a disclaimer indicating that the findings and conclusions do not necessarily
                                    reflect the view of the funding agency.", true],
                                  ["I confirm that no federal funds were used for the work described in this #{@submission.degree.degree_type.name.to_s.downcase}. ", false]],
                      wrapper: :vertical_radio_and_checkboxes,
                      label: false %>
        <% end %>
        <br>
      <% end %>
      <strong>Approval</strong>
      <p> <%= I18n.t("#{current_partner.id}.approver.review_form.acceptance_summary", name: @author.full_name, degree: @submission.degree.degree_type.name.to_s.downcase) %> </p>
      <div class="col-sm-8">
      <%= f.input :status, as: :radio_buttons,
                  collection: [[I18n.t("#{current_partner.id}.approver.review_form.approved_option"), 'approved'], [I18n.t("#{current_partner.id}.approver.review_form.rejected_option"), 'rejected']],
                  wrapper: :vertical_radio_and_checkboxes,
                  label: false %>
      </div>
      <%= f.input :notes, :label => I18n.t("#{current_partner.id}.approver.review_form.notes_for_student_label"), :input_html => { :class => 'notes_select' } %>

      <div class="form-group actions col-xs-4">
        <%= f.button :submit, I18n.t("#{current_partner.id}.approver.review_form.submit_button"), class: 'btn-success' %>
        <% if @review_complete %>
          <%= render 'review_message' %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
