<div id="content-container" class="container">
  <div class="row">
    <h1>Final Committee Approval for <%= @author.full_name %></h1>
  </div>
</br>
  <div class="row">
    <div class="col-sm-12">
      <p><span class="text-info"><strong>Help: </strong></span>On this page you will have the chance to submit a final review of <%= @author.full_name %>'s <%= @submission.degree.degree_type.name.downcase %>.  Below is some information about the submission, student, and reviews from other committee members.  Under the "My Final Review" header of this page you can review the files associated with this submission, and either accept or reject the submission.  You also have the option to submit notes.  If you are experiencing problems, you can contact help by clicking the "Contact Us" link above.</p>
    </div>
  </div>
</div>

<div id="content-container" class="container">
  <span><h2>Submission Details</h2></span>
  <div class="row">
    <div class="col-xs-6 submission_info">
      <p>
        <div><strong>Submission Title: </strong><%=@committee_member.submission.title%></div>
        <div><strong>PSU Id: </strong><%= @author.psu_idn || 'N/A' %></div>
        <div><strong>Phone:</strong> <%= @author.phone_number %></div>
      </p>
    </div>
  </div>
</div>

<div id="content-container" class="container">
  <%= render 'committee_reviews' %>
</div>

<div id="content-container" class="container">
  <h2>My Final Review</h2>
  <div class="row">
    <div class="col-sm-12"><h4>This submission's access level is <a data-toggle="tooltip" data-placement="top" title="<%= @view.tooltip_text %>"><%=@committee_member.submission.current_access_level.label %></a></h4></div>
  </div>
  </br>
  <div>
    <%= simple_form_for @committee_member, url: approver_update_committee_member_path() do |f| %>
      <fieldset <%=@review_complete ? 'disabled' : ''%> >
        <strong>Files I need to review:</strong>
        <div id="file_links">
          <%=raw @most_relevant_file_links %></div>
        </br>
        <p>I accept and approve <%= @author.full_name %>'s <%= @submission.degree.degree_type.name.to_s.downcase %> and agree to distribution as indicated by the access level.</p>
        <%= f.input :status, as: :radio_buttons,
                    collection: [['Yes, I accept and approve.', 'approved'], ['No, I do not accept and approve.', 'rejected']],
                    wrapper: :vertical_radio_and_checkboxes,
                    label: false %>
        <%= f.input :notes, :label => "Notes for Student (optional)", :input_html => { :class => 'notes_select' } %>
        <% if current_partner.graduate? && @committee_member.committee_role.name.include?("Advisor") %>
          <%= f.input :federal_funding_used, as: :radio_buttons,
                      :required => true,
                      collection: [["I confirm that, as required by federal guidelines, all federal funds used for the work
                                     described in this #{@submission.degree.degree_type.name.to_s.downcase} have been explicitly acknowledged in the document,
                                     along with a disclaimer indicating that the findings and conclusions do not necessarily
                                     reflect the view of the funding agency.", true],
                                   ["I confirm that no federal funds were used for the work described in this #{@submission.degree.degree_type.name.to_s.downcase}. ", false]],
                      wrapper: :vertical_radio_and_checkboxes,
                      label: 'Were Federal Funds utilized for this submission?'.html_safe %>
        <% end %>
        <div class="form-group actions col-xs-4">
          <%= f.button :submit, "Submit Review" %>
          <% if @review_complete %>
            <div class="review-message">
              <div class="review-complete">
                <% completed_on = @submission.head_of_program_review_accepted_at || @submission.head_of_program_review_rejected_at || @submission.committee_review_accepted_at || @submission.committee_review_rejected_at %>
                <%= completed_on.strftime("Review Completed on %m/%d/%Y at %I:%M%p") %>
              </div>
              <div>
                Committee <%= @approved ? "approved" : "rejected" %> the submission.
              </div>
              <div class="altering-submission">
                If your response needs to be altered, please <%= link_to "contact the site admin.", author_email_contact_form_new_path %>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="row" >
    <div class="col-xs-12 review-group">
      <p><strong>
        <%= link_to 'Return to reviews list', approver_root_path %>
      </strong></p>
    </div>
  </div>
</div>
