<div class="content-container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Reviews</h1>
      <p>Review and approve submissions that you have been a part of.  If you are serving on a committee in multiple roles, you will need to review and approve the submission for each role.</p>
    </div>
  </div>
  </br>
  <div class="row">
    <table id="committee_member_table" class="table">
      <thead>
      <tr>
        <th>Submission Title</th>
        <th>Author</th>
        <th>Review Started On</th>
        <th>My Review</th>
        <th>Submission Status</th>
      </tr>
      </thead>
      <tbody>
      <% @committee_members.each do |committee_member| %>
        <% next unless committee_member.submission.final_submission_files_uploaded_at %>
        <tr>
          <td><%= link_to committee_member.submission.title, approver_path(committee_member) %></td>
          <td><%= committee_member.submission.author.first_name %> <%= committee_member.submission.author.last_name %></td>
          <td><%= committee_member.submission.final_submission_files_uploaded_at.strftime('%m/%d/%Y') %></td>
          <td><%= committee_member.status.titleize %></td>
          <td><%= committee_member.submission.status.titleize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
