<%- #this presenter is being initialized here since cocoon make it hard to initialize it another way
    local_presenter = Author::CommitteeMemberView.new(f.object) %>
<% is_external_member = f.object.external_to_psu_id.present? %>
<% disabled_bool = (current_partner.graduate? && f.object.lionpath_updated_at.present? && !is_external_member) %>
<div class="nested-fields card card-committee">
  <div class="row committee-role">
  <% if local_presenter.required? %>
    <div class="col-sm-12">
      <h2 class="h2-small block-header"><%= local_presenter.role %> <a href="#"><span class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="right" data-html="true" title="<%= local_presenter.committee_members_tooltip_text %>"></span></a></h2>
      <% if !current_partner.honors? && !disabled_bool && !is_external_member && !local_presenter.head_of_program? %>
        <p class="email_form_checkbox"><%= check_box 'email_form_release', "switch" %><small> Committee member is not in dropdown list</small></p>
      <% end %>
      <%= f.association :committee_role, as: :hidden, collection: @submission.degree_type.try(&:committee_roles).order('name asc') || []  %>
      <% unless local_presenter.head_of_program? %>
        <%= f.input :is_voting, as: :hidden, :input_html => { value: 1, readonly: true } %>
      <% end %>
    </div>
  <% else %>
    <div class="col-sm-12">
      <h2 class="sr-only">Optional Committee Member </h2>
      <div><%= f.label :committee_role %>
        <% if controller_name == 'committee_members' %>
          <a href="#"><span class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= local_presenter.committee_members_tooltip_text %>"></span></a>
        <% end %>
      </div>
      <%= render partial: 'author/committee_members/committee_role_dropdown', locals: { controller_name: controller_name, f: f } %>
    </div>
  <% end %>
  </div>

  <%= f.input :is_required, as: :hidden, :input_html => { value: f.object.is_required, readonly: true } %>

  <div class="row">
    <% unless local_presenter.required? %>
      <div class="col-sm-6">
        <%= f.input :name, label: local_presenter.name_label,
                    aria: { label: "Use arrow keys to navigate your committee member search results to confirm the proper person" },
                    input_html: { class: 'ldap-lookup' }, required: true %>
      </div>
      <div class="col-sm-6">
        <%= f.input :email, label: local_presenter.email_label,
                    required: true %>
      </div>
      <div class="col-sm-6 committee-remove">
        <%= link_to_remove_association "[ Remove Committee Member ]", f, class: 'text-danger' %>
      </div>
    <% else %>
      <div class="col-sm-6">
        <% if current_partner.graduate? && local_presenter.head_of_program? %>
          <% # Program chair/head %>
          <%= f.input :name, label: local_presenter.name_label, collection: local_presenter.program_chair_collection,
                      aria: { label: "Use arrow keys to navigate your committee member search results to confirm the proper person" },
                      input_html: { class: 'ldap-lookup', id: 'program-head-name' }, required: true %>
        <% else %>
          <%= f.input :name, label: local_presenter.name_label,
                      aria: { label: "Use arrow keys to navigate your committee member search results to confirm the proper person" },
                      disabled: disabled_bool, input_html: { class: 'ldap-lookup' }, required: true %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <% if is_external_member && Lionpath::LionpathCommittee.external_ids.include?(f.object.access_id)%>
          <%= f.input :email, label: local_presenter.email_label,
                      required: true, input_html: { value: '' } %>
        <% elsif current_partner.graduate? && local_presenter.head_of_program? %>
          <%= f.input :email, label: local_presenter.email_label,
                      required: true, input_html: { readonly: !is_external_member, id: 'member-email' } %>
        <% else %>
          <%= f.input :email, label: local_presenter.email_label,
                      required: true, input_html: { readonly: !is_external_member } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br/>
