
<p><span class="text-info">Help:</span> <%= t("#{current_partner.id}.committee.author_instructions") %></p>
<br />
<%= simple_form_for @submission, url:  author_submission_committee_members_path(@submission) do |submission_form| %>
    <%- #this presenter is being initialized here since cocoon make it hard to initialize it another way
        local_presenter = Author::CommitteeMemberView.new(submission_form.object) %>
    <%= submission_form.simple_fields_for :committee_members, include_id: false do |cmf | %>
        <fieldset>
            <legend><span class="sr-only"><%= cmf.index+1 %>. </span> <%= cmf.object.role %></legend>
            <div class="col-sm-14">
                <%= cmf.input :committee_role_id, as: :hidden, readonly: true, input_html: { value: cmf.object.committee_role_id} %>
                <%= cmf.input :is_required, as: :hidden, readonly: true, input_html: {value: true} %>
            <div class="col-sm-4">
                <%= cmf.input :committee_role,  readonly: true, input_html: { value: cmf.object.role }, label: "Role", required: true %>
            </div>
            <div class="col-sm-4">
                <%= cmf.input :name, readonly: true, input_html: { value: cmf.object.name}, label: "Name" %>
            </div>
            <div class="col-sm-4">
                <%= cmf.input :email, readonly: true, input_html: { value: cmf.object.email}, label: "Email"  %>
            </div>
        </div>
      </fieldset>
    <% end %>

    <div class="col-xs-12 col-sm-6 col-md-8">
      <br />
      <%= submission_form.button :submit, class: "btn-primary btn-success", value: "#{@presenter.link_text}" %>&nbsp;&nbsp;
      <%= link_to "Cancel", author_root_path, class: 'btn cancel-link' %>
    </div>
<% end %>
</div>
