<div class="row">
  <div id="main-navigation" class="collapse navbar-collapse" role="navigation" aria-labelledby="admin-nav">
    <ul id="admin-nav" class="nav nav-pills nav-stacked" >
      <% DegreeType.all.each do |dt| %>
          <li class="<%= admin_degree_nav(params[:degree_type], dt) %>">
            <%= link_to dt.name.pluralize, admin_submissions_dashboard_path(dt.slug) %>
          </li>
      <% end %>
      <li class="<%= admin_nav_active?('authors') %>">
        <%= render partial: 'admin/shared/author_navigation.html' %>
      </li>
      <li class="<%= admin_nav_active?('programs') %>">
        <%= link_to 'Programs', admin_programs_path %>
      </li>
      <li class="<%= admin_nav_active?('degrees') %>">
        <%= link_to 'Degrees', admin_degrees_path %>
      </li >
      <li class="<%= admin_nav_active?('reports') %>">
        <a href="#" data-toggle="collapse" data-target="#reports_list"  class=" caret-link dropdown <%= admin_nav_active?('reports') %>" id='reports_menu' >
          Reports<span class="caret caret-right reports"></span></a>
        <ul class='list-group dropdown-menu caret-list report-buttons collapse' id="reports_list">
          <li class="list-group-item">
            <%= link_to 'Committee Report', admin_committee_report_index_path, id: 'committee_report' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Custom Report', admin_custom_report_index_path, id: 'custom_report' %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

