<% disabled_bool = (current_partner.graduate? && f.object.lionpath_updated_at.present? && !f.object.external_to_psu_id.present? && !f.object.committee_role.is_program_head && !f.object.submission.status_behavior.beyond_waiting_for_final_submission_response_rejected?) %>
<div class="nested-fields admin card border-default committee-member-information">
  <div class="status-row">
    <div class="col-sm-6">
      <%= f.association :committee_role,
                        collection: @submission.degree_type.try(&:committee_roles).order('name asc') || [] ,
                        disabled: disabled_bool, input_html: {class: 'role'} %>
    </div>
  <%= link_to_remove_association "[ Remove Committee Member ]", f, class: 'text-danger remove-member'%>
  </div>
  <div class="col-sm-10 committee-details">
    <div class="status-row">
        <%= f.input :name, disabled: disabled_bool, input_html: { class: 'ldap-lookup' } %>
      <div class="col-sm-3">
        <%= f.input :email %>
      </div>
    </div>
    <div class="status-row">
      <%= f.input :status, collection: Hash[CommitteeMember::STATUS.collect{ |item| [item, item.capitalize] }],
                  label_method: :last, value_method: :first,
                  include_blank: true, input_html: { class: "select-status" } %>
      <% if (@submission.status_behavior.waiting_for_advisor_review? && f.object == @submission.advisor) ||
            (@submission.status_behavior.waiting_for_committee_review? && !f.object.is_program_head && (!(f.object == @submission.advisor) || !current_partner.graduate?)) ||
            (@submission.status_behavior.waiting_for_head_of_program_review? && f.object.is_program_head) %>
        <button type="button" class="btn btn-light" id="send_email_reminder" value="<%= f.object.id.to_s %>">Send Email Reminder</button>
      <% end %>
    </div>
    <%= "<p class='hint'>Approved at: #{f.object.approved_at.strftime("%B %d, %Y")} #{f.object.approved_at.strftime("%I:%M %p")}</p>".html_safe if f.object.status == 'approved' %>
    <%= f.input :notes %>
    <% if f.object == @submission.advisor %>
      <%= f.input :federal_funding_used, as: :radio_buttons,
                  collection: [["Yes", true],["No", false]],
                  wrapper: :federal_funding_radios if current_partner.graduate? %>
    <% end %>
  </div>
</div>
