<div class="nested-fields admin panel panel-default">
  <div class="row committee-role">
    <% if current_partner.graduate? && f.object.committee_role_id == CommitteeRole.find_by(name: 'Head/Chair of Graduate Program').id %>
      <div class="col-sm-6">
        <%= f.association :committee_role, disabled: true %>
      </div>
    <% else %>
      <div class="col-sm-6">
        <%= f.association :committee_role, collection: @submission.degree_type.try(&:committee_roles).where.not(name: 'Head/Chair of Graduate Program').order('name asc') || [] , input_html: {class: 'role'} %>
      </div>
    <% end %>
    <div class="col-sm-4">
        <%= link_to_remove_association "[ Remove Committee Member ]", f, class: 'text-danger'%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <%= f.input :name, input_html: { class: 'ldap-lookup' } %>
    </div>
    <div class="col-sm-6">
        <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= f.input :status, collection: CommitteeMember::STATUS, include_blank: true %>
    </div>
    <div class="col-sm-4">
      <%= f.input :notes %>
    </div>
    <div class="col-sm-4">
      <%= link_to "Send Email Reminder" %>
    </div>
  </div>
  <div class="row">
    <% unless !current_partner.graduate? || f.object.committee_role_id == CommitteeRole.find_by(name: 'Head/Chair of Graduate Program').id  %>
      <div class="col-sm-4">
        <%= f.label "Is voting on approval" %>
        <%= f.input :is_voting, as: :radio_buttons, label: false %>
      </div>
    <% end %>
  </div>
</div>
