<div class="nested-fields admin panel panel-default">
  <div class="row committee-role">
    <div class="col-sm-6">
        <%= f.association :committee_role, collection: @submission.degree_type.try(&:committee_roles).order('name asc') || [] , input_html: {class: 'role'} %>
    </div>
    <div class="col-sm-4">
        <%= link_to_remove_association "[ Remove Committee Member ]", f, class: 'text-danger'%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <%= f.input :name, input_html: { class: 'ldap-lookup' } %>
    </div>
    <div class="col-sm-6">
        <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= f.input :status, collection: CommitteeMember::STATUS, include_blank: true %>
    </div>
    <div class="col-sm-4">
      <%= f.input :notes %>
    </div>
    <div class="col-sm-4">
      <button type="button" id="send_email_reminder" value="<%= f.object.id.to_s %>">Send Email Reminder</button>
    </div>
  </div>
</div>
