<!DOCTYPE html>
<html lang="en">
<head>
  <title>ETDA</title>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0">

  <%= stylesheet_link_tag 'author', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'base', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'author', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= page_classes %>">

<div id="body-container">
  <%= render 'shared/header' %>
  <div class="container">
    <div id="content-container" class="container">
      <%= yield %>
    </div>
    <%= render partial: 'shared/site_footer' %>
  </div>
</div>
</body>
</html>